/************TAG selectors**********/


h1:hover {
  color: gold;
}

/*Pseudo class :hover selectors */

img:hover {
  background-color: gold;
}
/* CLASS selectors ********
classes - I can repeat the same class multiple times in one page
good to use for a group of related items
you can have many classes
img {
  background-color: chartreuse;
  height: 10%;
  width: 20%;
}
*/
.bacon {
  background-color: green;
}
.broccoli {
  background-color: red;
}
.circular {
  border-radius: 100%;
}

/************ ID selectors*********
I can have only one id with the same name in one page
specific style for a single element
you can have only one id
*/
/*
#heading {
  color: blue;
}
*/
