body {
  margin: 0;
}
h1 {
  margin-top:0;
  margin-bottom: 0;
  display: inline-block;
}
p {
  margin:200px;
  margin-top: 0;
}
img {
  position: relative;
  left: 30px;
}

.top-container {
  background-color:#7DEDFF;
  margin-top:0;
  margin-bottom: 0;
}
.middle-container {
  background-color:#7C83FD;
  height: 200px;
  width: 200px;
}
.bottom-container {
  background-color:blue;
  height: 200px;
  width: 200px;
}
