body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1 {
  font-size: 5.625rem;
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2 {
  font-size: 2.5 rem;
  font-weight: normal;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
}
h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  margin:200px;
  margin-top: 0;
}

.top-container {
  background-color:#C6FCE5;
  padding-top: 200px;
  margin-top:0;
  top: 2000px;
}

.top-cloud {
  position: absolute;
  left: 900px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}


.middle-container {
}
.bottom-container {
}
