body {
  margin: 0;
}
h1 {
  margin-top:0;
  margin-bottom: 0;
  display: inline-block;
}
p {
  margin:200px;
  margin-top: 0;
}
img {
  position: relative;
  left: 30px;
}

.top-container {
  background-color:red;
  margin-top:0;
  margin-bottom: 0;
  height: 200px;
  width: 200px;
  position: absolute;
  left: 400px;
  top: 400px;
}
.middle-container {
  background-color:blue;
  height: 200px;
  width: 200px;
  position: absolute;
  left: 200px;
  top: 200px;

}
.bottom-container {
  background-color:yellow;
  height: 200px;
  width: 200px;
  position: fixed;

}
