body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1 {
  width: 10%;
  margin: 0 auto;
  top: 200px;
  font-family: 'Sacramento', cursive;
}
h2 {
  font-family: 'Montserrat', sans-serif;
}
h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  margin:200px;
  margin-top: 0;
}

.top-container {
  background-color:#88FFF7;
  padding-top: 200px;
  margin-top:0;
  top: 2000px;
}

.top-cloud {
  position: absolute;
  left: 900px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}


/* .middle-container {
  background-color:red;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 4000px;
  left: 200px;
}
.bottom-container {
  background-color:green;
  height: 200px;
  width: 200px;
  position: fixed;

}
*/
