body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1 {
  font-size: 562.5%;
  width: 40%;
  margin: 0 auto;
  top: 200px;
  font-family: 'Sacramento', cursive;
}
h2 {
  font-family: 'Montserrat', sans-serif;
}
h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  margin:200px;
  margin-top: 0;
}

.top-container {
  background-color:#C6FCE5;
  padding-top: 200px;
  margin-top:0;
  top: 2000px;
}

.top-cloud {
  position: absolute;
  left: 900px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}


.middle-container {
}
.bottom-container {
}
